<!-- inicio

 <ul>
  <li *ngFor="let key of listaUsuarios">
    {{usuariosRest[key].displayName}}
  </li>
</ul>

fin -->

<div class="row">

  <div class="col s8">
    Mensajes
    <ul class="collection" id="ventanaMensajes">
      <li class="collection-item avatar" *ngFor="let mensaje of mensajes | async" (change)="scroll()">
        <img src={{mensaje.photoURL}} alt="" class="circle">
        <div id="mensaje"><span class="title">{{mensaje.mensaje}}</span></div>
        <p>{{mensaje.displayName}} <br> {{mensaje.timestamp | date:"dd/MM/yyyy hh:mm:ss"}}
        </p>
        <a (click)="borrarMensaje(mensaje)" class="secondary-content"><i class="material-icons">delete</i></a>
      </li>
    </ul>
    <div class="input-field">
      <textarea [(ngModel)]="mensajeNuevo" id="textarea1" class="materialize-textarea" (keyup.enter)="enviarMensaje()" data-length="300" maxlength="300"></textarea>
      <label for="textarea1">Tu mensaje</label>
    </div>
    <a (click)="enviarMensaje()" class="waves-effect waves-light btn">Enviar</a>
  </div>

  <div class="col s4">
    Usuarios Logueados
    <ul class="collection">
      <li class="collection-item avatar" *ngFor="let usuario of usuarios | async">
        <img src={{usuario.photo}} alt="" class="circle">
        <span class="title">{{usuario.displayName}}</span>
        <p>{{usuario.email}}
        </p>
      </li>
    </ul>
    <a (click)="desloguear()" class="waves-effect waves-light btn">Desloguear</a>
  </div>



</div>